* {
  font-family: "cuprum";
}

html, body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  position: relative;
  max-width: 940px;
  margin: 0 auto;
}

.button {
  border: none;
  color: #fff;
  width: 135px;
  height: 38px;
  cursor: pointer;
}
.button_arr {
  width: 141px;
  height: 36px;
  font-size: 17.5px;
  font-weight: bold;
  background-color: red;
  color: #fff;
  display: block;
  border: none;
  position: relative;
  margin: 0 auto;
}
.button_arr:after, .button_arr:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
}
.button_arr:after {
  border-left-color: red;
  border-width: 18px;
  margin-top: -18px;
}

.header {
  height: 42px;
  background-color: #293449;
}
.header_logo {
  display: inline-block;
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  text-align: center;
  color: #fff;
  margin-right: 30px;
  line-height: 42px;
  font-size: 23px;
}
.header_search {
  display: inline-block;
  color: #fff;
  margin-right: 274px;
  font-size: 17px;
}
.header_bookmark {
  display: inline-block;
  color: #fff;
  margin-right: 30px;
  font-size: 17px;
}
.header_trash {
  display: inline-block;
  color: #fff;
  margin-right: 30px;
  font-size: 17px;
}
.header_buy {
  display: inline-block;
  width: 150px;
  height: 42px;
  border: none;
  font-size: 17px;
  text-align: center;
  color: #fff;
  background-color: #63a63e;
}

.welcome {
  height: 300px;
}
.welcome_item {
  margin-top: 45px;
  width: 300px;
  display: inline-flex;
}
.welcome_text {
  font-size: 16px;
  font-style: italic;
  line-height: 1.44;
  font-family: "cuprumbold";
  text-align: left;
  color: #ee3643;
}
.welcome_contact {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}
.welcome_contact_phone {
  font-size: 21px;
  font-family: "cuprumbold";
  color: #ee3643;
}
.welcome_contact_adr {
  margin-top: 10px;
  font-size: 14px;
  font-family: "cuprumbold";
  text-align: center;
  color: #32425c;
}
.welcome_login {
  display: inline-flex;
  justify-content: space-around;
}
.welcome_login_auth {
  font-size: 21px;
  font-family: "cuprumbold";
  color: #000;
}
.welcome_login_reg {
  font-size: 21px;
  font-family: "cuprumbold";
  color: #000;
}
.welcome_nav {
  margin-top: 30px;
  background-color: #32425c;
}
.welcome_nav_ul {
  display: flex;
  justify-content: space-around;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
  height: 40px;
}
.welcome_nav_ul_li {
  margin-top: 10px;
  color: #fff;
}

.windows {
  height: 450px;
}
.windows_line1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.windows_line2 {
  display: flex;
  justify-content: space-between;
}
.windows_item {
  display: flex;
  margin-top: 20px;
  width: 300px;
  height: 123px;
}
.windows_item_block {
  margin: 25px 0px 25px 25px;
}
.windows_item_title {
  font-size: 24px;
  color: #fff;
}
.windows_item_img {
  margin: 25px auto;
  max-height: 55%;
}

.mod1 {
  background-color: #ffbf47;
}
.mod1_button {
  background-color: #e5ac40;
  margin-top: 10px;
  text-transform: uppercase;
}

.mod2 {
  background-color: #3bbce3;
}
.mod2_button {
  background-color: #35a9cc;
  margin-top: 10px;
  text-transform: uppercase;
}

.mod3 {
  background-color: #dc91d8;
}
.mod3_button {
  background-color: #c682c2;
  margin-top: 10px;
  text-transform: uppercase;
}

.mod4 {
  width: 620px;
  height: 266px;
  background-image: url(/img/slider\ 1.png);
}
.mod4_button {
  background-color: #ee3643;
  margin: 205px 25px 25px;
  text-transform: uppercase;
}

.mod5 {
  background-color: #8ed78f;
}
.mod5_button {
  background-color: #80c180;
  margin-top: 10px;
  text-transform: uppercase;
}

.mod6 {
  background-color: #ffc047;
}
.mod6_button {
  background-color: #e5ac40;
  margin-top: 10px;
  text-transform: uppercase;
}

.product {
  margin-top: 25px;
  height: 450px;
}
.product_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
}
.product_header_title {
  margin: 30px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
  color: #32425c;
}
.product_header_button {
  margin: 30px;
  width: 253px;
  height: 38px;
  text-transform: uppercase;
  background-color: #ee3643;
  font-size: 14px;
  color: #fff;
}
.product_content_ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.product_content_ul_li {
  margin-top: 4px;
  width: 220px;
  height: 318px;
  border: solid 1px #eaeaea;
  background-color: #fff;
  /*           &_img {

            } */
}
.product_content_ul_li_title {
  margin: 0 auto;
  width: 155px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.product_content_ul_li_oldprice {
  margin: 8px;
  text-align: center;
  font-size: 17.5px;
  font-weight: bold;
  color: #a9a9a9;
}
.product_content_ul_li_newprice {
  text-align: center;
  line-height: 2;
}

.company {
  margin-top: 25px;
  height: 450px;
}
.company_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
}
.company_header_title {
  margin: 30px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
  color: #32425c;
}
.company_header_button {
  margin: 30px;
  width: 253px;
  height: 38px;
  text-transform: uppercase;
  background-color: #ee3643;
  font-size: 14px;
  color: #fff;
}
.company_content_ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.company_content_ul_li {
  margin-top: 20px;
  width: 220px;
  height: 145px;
  border: solid 1px #eaeaea;
  position: relative;
}
.company_content_ul_li_img {
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.services {
  margin-top: 70px;
  height: 500px;
  background-color: #f4f8fa;
}
.services_title {
  padding-top: 30px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
}
.services_subtitle {
  font-size: 13px;
  line-height: 1.85;
  text-align: left;
  font-weight: bold;
  color: #000;
}
.services_item {
  display: flex;
}
.services_devilery {
  padding: 50px;
}
.services_devilery_title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
  color: #32425c;
}
.services_devilery_subtitle {
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
  font-weight: bold;
  color: #000;
}
.services_devilery_img {
  position: absolute;
  right: 0;
  top: 240px;
}
.services_nav {
  padding: 70px 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.services_nav_li {
  width: 240px;
  height: 60px;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
  font-size: 21px;
  line-height: 3;
  letter-spacing: normal;
  padding-left: 20px;
  color: #fff;
  cursor: pointer;
}
.services_nav_active {
  background-color: #fff;
  font-size: 21px;
  font-weight: bold;
  line-height: 3;
  color: #32425c;
}

.about {
  height: 410px;
}
.about_content {
  display: flex;
}
.about_content_left {
  width: 1000px;
}
.about_content_center {
  width: 400px;
}
.about_content_li::marker {
  color: red;
}
.about_content_title {
  padding-top: 30px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
}
.about_content_p {
  padding-top: 10px;
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
}
.about_content_button {
  margin-top: 20px;
  width: 300px;
  height: 38px;
  background-color: #ee3643;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.25;
  color: #fff;
}

.footer {
  height: 300px;
  background-color: #32425c;
}
.footer_logo {
  display: inline-block;
  width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  text-align: center;
  color: #fff;
  margin-right: 30px;
  line-height: 62px;
  font-size: 23px;
}
.footer_head {
  height: 107px;
}
.footer_head_content {
  display: flex;
}
.footer_head_ul {
  margin-left: 150px;
  width: 540px;
  display: flex;
  justify-content: space-between;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
}
.footer_head_li {
  font-size: 18px;
  line-height: 3;
  color: #f1f5f7;
}
.footer_body {
  height: 107px;
}
.footer_body_content {
  display: flex;
}
.footer_body_adr {
  width: 350px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #f3f7f9;
}
.footer_body_ul {
  margin-top: 0;
  margin-left: 80px;
  width: 510px;
  display: flex;
  justify-content: space-between;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
}
.footer_body_li {
  font-size: 18px;
  color: #ffd180;
}
.footer_foot {
  height: 107px;
  background-color: #293449;
}
.footer_foot_content {
  display: flex;
  justify-content: space-between;
}
.footer_foot_adr {
  margin-top: 35px;
  font-size: 16px;
  line-height: 1.13;
  color: #fff;
}
.footer_foot_social {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  width: 160px;
}
.footer_foot_social_item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #212a3a;
  position: relative;
  cursor: pointer;
}
.footer_foot_social_item_img {
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.footer_foot_feedback {
  margin-top: 35px;
  width: 100px;
  color: #fff;
}
.footer_foot_feedback span {
  color: #ffd180;
}
.footer_foot_creator {
  margin-top: 35px;
  width: 100px;
  color: #fff;
}
.footer_foot_creator span {
  color: #ffd180;
}

@font-face {
  font-family: "cuprum";
  src: url(/fonts/web/cuprum.woff) format("woff"), url(/fonts/web/cuprum.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "cuprumbold";
  src: url(/fonts/web/cuprumbold.woff) format("woff"), url(/fonts/web/cuprumbold.woff2) format("woff2");
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */