.about {
    
    height: 410px;
    &_content {
      display: flex;
      &_left {
        width: 1000px;
      }
      &_center {
        width: 400px;
      }
      &_li {
        &::marker {
          color: red;
        }
      }
      &_title {
        padding-top: 30px;
        font-size: 30px;
        text-transform: uppercase;
        text-align: left;
      }
      &_p {
        
        padding-top: 10px;
        font-size: 13px;
        line-height: 1.5;
        text-align: left;
      }
      &_button {
        margin-top: 20px;
        width: 300px;
        height: 38px;
        background-color: #ee3643;
        text-transform: uppercase;        
        font-size: 14px;
        line-height: 1.25;
        color: #fff;
      }
    }
  }