.company {
  margin-top: 25px;
  height: 450px;
  &_header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    height: 89px;
    &_title {
      margin: 30px;
      font-size: 30px;
      text-transform: uppercase;
      text-align: left;
      color: #32425c;
    }
    &_button {
      margin: 30px;
      width: 253px;
      height: 38px;
      text-transform: uppercase;
      background-color: #ee3643;
      font-size: 14px;
      color: #fff;
    }
    background-color: #f9f5f0;
  }
  &_content {

    &_ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style-type: none;
      padding-inline-start: 0;
      &_li {
        
        margin-top: 20px;
        width: 220px;
        height: 145px;
        border: solid 1px #eaeaea;
        position: relative ;
          &_img {
            display: block;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);         
        }
        
      }
    }
  }
}